/* Div artiste */

#divAllGroups {
    display: flex; 
    align-items: center; 
    justify-content: left;
    flex-wrap: wrap; 
    gap: 20px;
    padding: 10px;
    margin: 0 auto;
    width: fit-content;
    border: 1px solid red;
}

.divGroup {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    flex-wrap: wrap; 
    gap: 20px; 
    width: 10%;
    height: 250px;
    border: 2px solid var(--violet);
    border-radius: 20%;
    padding: 13px;
}

.imgGroup {
    width: 150px; 
    height: 150px; 
    background-size: cover; 
    background-position: center;
    border: 1px solid var(--violet);
    border-radius: 40%; 
    transition: transform 4s linear, border-radius 1s ease;
    transform: rotate(0deg);
}

.imgGroup:hover {
    transform: rotate(360deg);
    border-radius: 50%;
}

.infosGroup {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    gap: 3px;
}

.linkGroup {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    flex-direction: column; 
    gap: 15px;
}

