#bioOverlay {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
    z-index: 999;
    display: none;
}

#bioScreen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #222;
    color: white;
    padding: 30px;
    border-radius: 10px;
    width: 50%;
    max-height: 50vh;
    overflow-y: auto;
    z-index: 1000;
    display: none;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
    text-align: center;
}

#bioContent {
    padding: 30px 0;
}

#divSocialMedia {
    display: flex; 
    gap: 20px; 
    margin-top: 20px;
}

#divSocialMedia i {
    border: 2px solid #E4B8C9; 
    padding: 10px; 
    border-radius: 35%;
}