:root {
    --violet: #E4B8C9;
}

/* Div artiste */

#divAllGroups {
    background: #1E2430;
    display: flex; 
    align-items: center;
    justify-content: left;
    flex-wrap: wrap; 
    gap: 20px;
    padding: 10px;
    margin: 0 auto;
    width: fit-content;
    border: none;
}

.divGroup {
    background: #1E2430;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    flex-direction: column;
    flex-wrap: wrap; 
    gap: 20px; 
    width: 13%;
    height: 250px;
    color: var(--violet);
    border-radius: 20%;
    padding: 13px;
}

.imgGroup {
    width: 150px; 
    height: 150px; 
    background-size: cover; 
    background-position: center;
    border: 2px solid var(--violet);
    border-radius: 40%; 
    transition: transform 4s linear, border-radius 1s ease;
    transform: rotate(0deg);
}

.imgGroup:hover {
    transform: rotate(360deg);
    border-radius: 50%;
}

.infosGroup {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    gap: 3px;
}

.linkGroup {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    flex-direction: column; 
    gap: 15px;
}

#artistName {
    font-style: 12px;
}

#filterBar {
    background: #1E2430;
    display: flex;
    align-items: center;
}