@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --violet: blueviolet;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Sour Gummy", sans-serif;
    font-weight: 600;
}