@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

:root {
    --violet: #E4B8C9;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Audiowide", sans-serif;
    font-weight: 600;
}

*:not(.ctaBtn) {
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.623);
}

.ctaBtn {
    -webkit-text-stroke: 0 !important;
}

.ctaBtn:hover {
    cursor: pointer;
}

/* NavBar ↓ */

#imgNav {
    height: 100px;
    width: 200px;
    background: url("../img/SoundSphereDarkNoBg.png") center/cover;
}

nav {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    padding: 20px; 
    position: sticky;
    top: 0;
    background: #1E2430;
    z-index: 1000;
}

a {
    text-decoration: none; 
    list-style-type: none;
    color: var(--violet);
}

#navCenter {
    display: flex; 
    align-items: center; 
    gap: 15px; 
    font-size: 18px; 
    text-decoration: none; 
    list-style-type: none;
}

#navRight {
    display: flex; 
    align-items: center; 
    gap: 15px;
}

#search {
    padding: 10px; 
    border-radius: 15px; 
    text-align: center; 
    font-size: 15px;
    border: 3px solid var(--violet);
    color: var(--violet);
    outline: none;
}

#search::placeholder {
    color: var(--violet);
}

#favIcon {
    color: rgb(182, 182, 15)
}

#activePage {
    border-bottom: 2px solid var(--violet);
    border-radius: 5px;
}

.footerText {
    background: var(--violet); 
    color: #FFF; 
    padding: 10px; 
    text-align: center; 
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
}

.ctaBtn {
    list-style-type: none;
    text-decoration: none;
    background: #FFF;
    color: var(--violet);
    padding: 10px 20px 10px 20px;
    border-radius: 12px;
    font-size: 20px;
    text-align: center;
}

.ctaViewPage {
    list-style-type: none;
    text-decoration: none;
    background: #FFF;
    color: var(--violet);
    padding: 5px 8px 5px 8px;
    border-radius: 12px;
    font-size: 15px;
    text-align: center;
}