<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Index</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="/static/css/util.css">
        <link rel="stylesheet" href="/static/css/artists.css">
    </head>
    <body>
        <nav>
            <div id="imgNav"></div>

            <div id="navCenter">
                <a class="navMid" href="/">Accueil</a>
                <a class="navMid" id="activePage" href="/artists">Artistes</a>
                <a class="navMid" href="/concert">Concerts</a>
                <a class="navMid" href="/map">Carte</a>
                <a class="navMid" href="/about">A propos</a>
            </div>

            <div id="navRight">
                <input type="text" id="search" placeholder="Rechercher un artiste">
                {{ if .Settings.DarkMode }}
                    <a href=""><i class="fa fa-moon"></i></a>
                {{ else }}
                    <a href=""><i class="fa fa-sun"></i></a>
                {{ end }}
            </div>
        </nav>

        <div>
            <div id="filterBar">
                <h2>Tous les artistes</h2>
                <div>
                    <select name="filterArtist" id="filterArtist">
                        <option value="">Aucun filtre</option>
                        <option value="alphaAZ">Ordre alphabétique ( A - Z )</option>
                        <option value="alphaZA">Ordre alphabétique ( Z - A )</option>
                        <option value="plusVieuxMoinsVieux">Date de création ( Plus vieux - moins vieux )</option>
                        <option value="moinsVieuxPlusVieux">Date de création ( Moins vieux - plus vieux )</option>
                    </select>
                </div>
            </div>
            <hr style="width: 70%; margin: 0 auto;">
            <div id="divAllGroups">
                {{range .Groups}}
                    <div class="divGroup">
                        <div class="linkGroup">
                            <img src="{{if .Thumb }} {{ .Thumb }} {{ else }} {{ .Image }} {{ end }}" class="imgGroup" alt="Image du groupe : {{.Name}}">
                            <div class="infosGroup">
                                <p id="artistName">{{.Name}}</p>
                                <p>{{.CreationDate}}</p>
                            </div>
                            <a href="/artist?id={{.ID}}" class="ctaViewPage">Voir la page -></a>
                        </div>
                    </div>
                {{end}}
            </div>
        </div>
    </body>
    <footer>
        <h2 class="footerText">Copyright © 2025 - Tous droits réservés par Émilien, Tim & Aymeric</h2>
    </footer>
    <script>history.replaceState("", "", "SoundSphère");</script>
</html>