<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="/static/css/artist.css">
    </head>
    <body>
        <nav>
            <img style="height: 120px;" src="https://media.discordapp.net/attachments/1415075036745961666/1444955075784081529/SoundSphereLightLogo.png?ex=692e96c8&is=692d4548&hm=1c83ef361571e421d8e04ea8fdc0008b69e7854eb609aeb6b3c838d00a8f0790&=&format=webp&quality=lossless&width=1537&height=838" alt="">

            <div id="navCenter">
                <a class="navMid" id="activePage" href="/">Accueil</a>
                <a class="navMid" href="/artists">Artistes</a>
                <a class="navMid" href="/concert">Concerts</a>
                <a class="navMid" href="/map">Carte</a>
                <a class="navMid" href="/about">A propos</a>
            </div>

            <div id="navRight">
                <input type="text" id="search" placeholder="Rechercher un artiste">
                {{ if .Settings.DarkMode }}
                    <a href=""><i class="fa fa-moon"></i></a>
                {{ else }}
                    <a href=""><i class="fa fa-sun"></i></a>
                {{ end }}
            </div>
        </nav>

        <hr>

        <div style="background: #1F2730;">
            <div style="padding: 15px; background: #1f27303d; width: 50%; margin: 0 auto;">
                <div style="display: flex; align-items: center; justify-content: center; gap: 50px;">
                    <h1 style="color: #FFF;">{{.Artist.Name}}</h1>
                    <img src="{{.Artist.Image}}" style="width: 150px; height: 150px; border-radius: 10px;">
                </div>
            </div>
        </div>


        <p>Année de création : {{.Artist.CreationDate}}</p>
        <p>Premier album : {{.Artist.FirstAlbum}}</p>

        <h3>Membres :</h3>
        <ul>
            {{range .Artist.Members}}
                <li>{{.}}</li>
            {{end}}
        </ul>
    </body>
    <footer>
        <h2 style="background: blueviolet; color: #FFF; padding: 10px; text-align: center; position: fixed; bottom: 0; width: 100%;">Copyright © 2025 - Tous droits réservés par Noham, Emilien, Tim & Aymeric</h2>
    </footer>
</html>